@import '~vuetify/src/styles/styles.sass';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
$body-font-family: 'Poppins', sans-serif !important;

$mytermDark: (
  'base': #21252b,
  'lighten-2': #474f57,
  'lighten-1': #282c34,
  'darken-1': #343a40,
);

$colors: (
  'mytermDark': $mytermDark,
) !default;

$material-dark: map-merge(
  $material-dark,
  (
    "background": map-get($mytermDark, 'base'),
    'cards': map-get($mytermDark, 'lighten-1'),
    'chips': map-get($mytermDark, 'lighten-2'),
    'app-bar': map-get($mytermDark, 'lighten-1'),
    'bottom-navigation': map-get($mytermDark, 'lighten-1'),
  )
);
