$body-font-family: 'Poppins', sans-serif !important;

.v-application {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
}

@import '~vuetify/src/styles/styles.sass';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

$mytermDark: (
  'base': #21252b,
  'lighten-1': #282c34,
  'lighten-2': #474f57,
  'darken-1': #343a40,
);

$colors: (
  'mytermDark': $mytermDark,
) !default;

$material-dark: map-merge(
  $material-dark,
  (
    "background": map-get($mytermDark, 'base'),
    'cards': map-get($mytermDark, 'lighten-1'),
    'chips': map-get($mytermDark, 'lighten-1'),
    'app-bar': map-get($mytermDark, 'lighten-1'),
    'bottom-navigation': map-get($mytermDark, 'lighten-1'),
  )
);

$material-light: (
  'app-bar': #ffffff, 
  'background': #ffffff, 
  'navigation-drawer': #ffffff,
  
  'toolbar': #fafafa,
  'cards': #fafafa,
  'chips': #ffffff,
);

$vt-color-success: #41D1AB;
$vt-color-error: #EF596F;

@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";
